div.row
    div.col-lg-6
        h1 Admin
        p This view is visible to users with the administrator role.
    div.col-lg-6
        button.btn.btn-default(data-toggle="modal", data-target="#addUserModal") Add user

table.table.table-striped()
    thead
        tr
            th #
            th email
            th Role
    tbody
        tr(data-ng-repeat="user in users")
            td {{ user.id }}
            td
               |  {{ user.email }}
            td
                span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
div.modal.fade#addUserModal(role="dialog")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal") &times;
                h4.modal-title Add new user
            div.modal-body(data-ng-controller="AddUserCtrl")
                form.form-horizontal(ng-submit="addUser()", name="addUserForm", role="form")
                    .form-group
                        label.control-label.col-sm-2(for="email") email
                        .col-sm-10
                            input.form-control(type="text", data-ng-model="email", placeholder="email", name="email", required, data-ng-minlength="1", data-ng-maxlength="20", autofocus)
                    .form-group
                        label.control-label.col-sm-2(for="password") Password
                        .col-sm-10
                            input.form-control(type="password", data-ng-model="password", placeholder="Password", name="password", required, data-ng-minlength="5", data-ng-maxlength="60")
                    .form-group
                        .radio.radio-inline
                            label
                                input(type="radio", name="role", data-ng-model="role", id="adminRole", data-ng-value="userRoles.admin")
                                | Administrator
                        .radio.radio-inline
                            label
                                input(type="radio", name="role", data-ng-model="role", id="adminRole", data-ng-value="userRoles.user")
                                | Normal user
                    .form-group
                        .controls
                            button.btn(type="submit", data-ng-disabled="addUserForm.$invalid") Add user

                    .alert.alert-danger(ng-show="addUserForm.$invalid && addUserForm.$dirty")
                        strong Please correct the following errors:
                        ul
                            li(ng-show="addUserForm.email.$error.required") email is required
                            li(ng-show="addUserForm.email.$error.minlength") email has to be at least 1 character long
                            li(ng-show="addUserForm.email.$error.maxlength") email has to be at most 20 character long
                            li(ng-show="addUserForm.password.$error.required") Password is required
                            li(ng-show="addUserForm.password.$error.minlength") Password must be at least 5 characters long
                            li(ng-show="addUserForm.password.$error.maxlength") Password must be at most 60 characters long